
#####################
# Vim temp files
#####################
.*.sw?
.sw?

#####################
# ansible retry file
#####################
*.retry

#####################
# ignore credentials
#####################
*ec2_keys.yml
